.sub-header{
	font-size: 20pt;
	text-decoration: underline;		
}
.CCBio{
	color: white;	
}
.left-wrap{
	float: left;
	margin: 0px 15px 15px 0px;		
}
.right-wrap{
	float: right;
	margin: 0px 0px 15px 15px;	
}
.bio-title{
	font-size: 18pt;
	color: white;	
	
}